[Unit]
Description=service controler for k2hdkc on trove
After=network-online.target

[Service]
Type=simple
User=k2hdkc
PermissionsStartOnly=true
ExecStart=/usr/libexec/k2hdkc-trovectl k2hdkc -cgp /etc/k2hdkc -conf server.ini -initwait 120 -wait /tmp/k2hdkc-trovectl-chmpx.pid -d msg
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
PIDFile=/var/run/k2hdkc-trovectl-k2hdkc.pid

[Install]
WantedBy=multi-user.target
