[Unit]
Description=k2hdkc check configration timer

[Timer]
OnStartupSec=5min
OnUnitInactiveSec=1min
Unit=k2hdkc-check-conf.service

[Install]
WantedBy=multi-user.target
